* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


body { 
    max-width: 1920px;
    background-color: #321A4A;
    font-family: "Inter", sans-serif;
    margin: 0 auto;
}

nav { 
    display: flex;
    justify-content: space-around;
    padding-top: 97px;
    padding-bottom: 75px;
    align-items: center;
}

ul { 
    text-decoration: none;
    list-style-type: none;
    
    
}

a { 
    color: inherit;
    text-decoration: none;
    color: white;
    font-size: 36px;
    
}

a:hover { 
    color: #B2FF00;
}

.border { 
    margin: auto;
    width: 1600px;
    border: solid 1px white;
    border-radius: 60px 60px 60px 60px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}


.cont { 
   text-align: center;
   color: white;
   font-size: 36px;
   margin-top: 50px;
   margin-bottom: 50px;
}

.cont-2 { 
    color: white;
    font-size: 36px;
    margin-left: 150px;
    margin-top: 50px;
}

table { 
    color: white;
    width: 800px;
    height: 490px;
    font-size: 24px;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    text-align: center;
}

@media (max-width: 768px) {
  nav {
    padding-top: 40px;
    padding-bottom: 30px;
    flex-direction: column;
    gap: 20px;
  }

  ul {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  a {
    font-size: 22px;
  }

  .border {
    width: 500px;
    border-radius: 30px;
  }

  .table-margin { 
    margin: 1px;
  }

  .cont,
  .cont-2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
  }

  .cont-2 {
    margin-left: 10px;
  }

  table {
    width: 300px; 
    font-size: 16px;
  }

  th, td {
    padding: 10px;
  }
}

@media (max-width: 1200px) and (min-width: 769px) {
  a {
    font-size: 24px;
  }

  .cont,
  .cont-2 {
    font-size: 26px;
  }


  table {
    width: 700px; 
    font-size: 20px;
  }

  .border {
    width: 900px;
    border-radius: 30px;
  }

  .cont,
  .cont-2 {
    margin-bottom: 30px;
  }

}





.pink-block { 
  background-color:#FDA6D7;
  width: 1250px;
  height: 630px; 
  margin: 0 auto;
  border-radius: 60px;
}

.booking-form {
  width: 100%;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form-allblock { 
  margin: 0 auto;
  width: 1000px; 
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 60px;
  justify-content: center;
}



input, select { 
  border-radius: 60px;
  font-size: 24px;
  padding-left: 20px;
  width: 300px;
  height: 50px;
  border: none;
  background: white;
  box-sizing: border-box ;
}

::placeholder {
  color: black;
} 


textarea { 
  font-size: 24px;
  padding: 20px;
  width: 1000px;
  height: 250px;
  border: none;
  border-radius: 60px;
}

.button-block { 
 display: flex;
 justify-content: space-around;
 padding-top: 50px;
}

.button-price { 
  width: 200px;
  height: 50px;
  background-color:#321A4A;
  color: #ffff;
  font-size: 24px;
} 